*{
    padding: 0;
    padding: 0;
}
#App{
    /* max-width: 98vw; */
    overflow: hidden;
    /* border: 2px solid red; */
}

#result{
    /* border: 1px solid red; */
    min-height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


html, body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    background-color: #E7FFFF;
  }
  
  h1, a{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  .section{
    padding: 4rem 2rem;
  }
  
  .error{
    font-size: 100px;
    /* color: red; */
      
      user-select: none;
  }
  
  .page{
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 600;
    color: #444;
  }
  
  .back-home{
    display: inline-block;
    border: 2px solid #222;
    color: #222;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.75rem 1rem 0.6rem;
    transition: all 0.2s linear;
    box-shadow: 0 3px 8px rgba(0,0,0, 0.3);
  }
  .back-home:hover{
    background: #222;
    color: #ddd;
  }